@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.header {
  font-family: 'Archivo Black', sans-serif;
}

.dark {
  background: rgb(31, 29, 29);
}
.light {
  background: white;
}
.darktext {
  color: black;
}
.lighttext {
  color: white;
}
.darkFill {
  fill: black;
}
.lightFill {
  fill: white;
}
